<!DOCTYPE html>
<html>

<head>
  <title>Elementary Math</title>
  <link rel="stylesheet" href="/static/main.css"/>
</head>

<body>
  <header>
    <h1>Math App</h1>
  </header>

  <nav>
    <a href="/frontpage">Front Page</a>  
    <a href="/">Log In</a>  
    <a href="/logout">Log Out</a>  
  </nav>

  <h2>Elementary Math</h2>

  <p>(Note: only student's view now)</p>
  <h3>Text materials</h3>
  <ul>
    <li>No materials yet</li>
  </ul>
  <h3>Exercises</h3>
  <ul>
    <a href="/addition">Addition</a>
    <li>Subtraction</li>
    <li>Multiplication</li>
    <li>Division</li>
    <li>Order of operations</li>
    <li>Percentage calculation</li>
  </ul>
  <h3>Statistics</h3>
</body>

</html>