<!DOCTYPE html>
<html>

<head>
  <title>Front Page</title>
  <link rel="stylesheet" href="/static/main.css"/>
</head>

<body>
  <header>
    <h1>Math App</h1>
  </header>

  <nav>
    <a href="/frontpage">Front Page</a>
    <a href="/">Log In</a>
    <a href="/logout">Log Out</a>
  </nav>

  <h2>Front Page</h2>

    <p>
    Welcome to the app!
    <br>
    (Note: only student's view right now)
    <p>
    <h3>Courses:</h3>
      <li><a href="/elementary-math">Elementary math</a></li>
</body>

</html>